.topmenu
{

}

.centralView
{
	/* max-height: 87vh; */
	min-height: 87vh;
	/* background-image: url('../ressources/bird_feathers_10.jpg'); */
	background-image: url('../ressources/cloud_background.jpg');
	background-repeat: no-repeat;
    /* background-size: contain, cover; */
}

.footer
{

}
