.flexBox
{
	/*border: 2px solid red;*/
	width: 99vw; height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	overflow-y:
}

.sticker
{
	margin-top: 2vh;
	width: 30vw; height: auto;
	text-align: center;
	box-shadow: 2px 2px 2px 0px;
	background-color: rgba(255, 255, 255, 0);
	transition: 0.5s;
}
.sticker:hover
{
	box-shadow: inset 2px 2px 5px 2px;
	box-shadow: 2px 2px 5px 2px;
	cursor: -webkit-grab;
}

.img
{
	min-width: auto; min-height: 35vh;
	max-width: 30vw; max-height: 35vh;
	margin: auto;
}

.imgSubBox
{
	width: auto; height: 5vh;
	list-style-type: none;
	background: rgba(50, 50, 50, 0.25);
}
.imgSubBox ul
{
	display: flex;
	margin: 0px; padding: 0px;
	height: 100%;
	list-style-type: none;
}
.imgSubBox li
{
	border: 1px solid rgb(91, 91, 91);
	flex: 1 1 0;
	text-align: center;
	line-height: 4.5vh;
	color: rgb(255, 255, 255);
	transition: 0.5s;
}
.imgSubBox li:hover
{
	border: 1px solid rgb(20, 20, 20);
	background: rgba(50, 50, 50, 0.5);
	color: rgb(255, 255, 255);
}
.imgSubBox #unlike
{
	display: none;
}

/*---------#---------#---------#---------#---------#---------*/

.pagination
{
	display: flex;
	margin-top: 1vh;
	justify-content: center;
}

.pagination a
{
	border: 1px solid rgb(220, 220, 220);
	border-radius: 10px;
	margin: 5px; padding: 2px;
	margin-left: 5px;
}

/*---------#---------#---------#---------#---------#---------*/

.picModal
{
	display: none;
	/*display: grid;*/
	margin: 0px; padding: 0px;
	width: 100vw; height: 100vh;
	grid-template-columns: repeat(10, 10vw);
	grid-template-rows: repeat(10, 10vh);
	position: fixed;
	top: 0; left: 0;
	z-index: 1;
	animation: mymove 5s infinite;
	background: rgba(0, 0, 0, 0.6);

}
.picModal img
{
	/*border: 2px solid rgb(221, 249, 0);*/
	max-width: 40vw; max-height: 50vh;
	grid-column: 1/5;
	grid-row: 1/6;

}
.picModal label
{
	border: 2px solid rgb(43, 193, 61);
	color: rgb(255, 255, 255);
	background: rgb(50, 50, 50);
	color: rgb(255, 255, 255);
	text-align: center;
	line-height: 10vh;
}
.picModal #lblCom
{
	color: rgb(255, 255, 255);
	grid-column: 5/8;
	grid-row: 1;
}
.picModal #lblSend
{
	color: rgb(255, 255, 255);
	grid-column: 6;
	grid-row: 5;
}
.picModal input
{
	border: 2px solid rgb(2, 22, 195);
	grid-column: 5/8;
	grid-row: 2/5;
}
.picModal #comments
{
	border: 2px solid rgb(160, 160, 160);
	background: rgb(250, 250, 250);
	grid-column: 8/12;
	grid-row: 1/11;
}

@@keyframes mymoves
{

}
