.flexBox
{
	/*border: 2px solid red;*/
	width: 99vw; height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.sticker
{
	margin-top: 2vh;
	width: 30vw; height: auto;
	text-align: center;
	box-shadow: 2px 2px 2px 0px;
	background-color: rgba(255, 255, 255, 0);
	transition: 0.5s;
}
.sticker:hover
{
	box-shadow: inset 2px 2px 5px 2px;
	box-shadow: 2px 2px 5px 2px;
}

.img
{
	min-width: auto; min-height: 35vh;
	max-width: 30vw; max-height: 35vh;
	margin: auto;
}

.imgSubBox
{
	width: auto; height: 5vh;
	list-style-type: none;
	background: rgba(50, 50, 50, 0.25);
}
.imgSubBox ul
{
	display: flex;
	margin: 0px; padding: 0px;
	height: 100%;
	list-style-type: none;
}
.imgSubBox li
{
	border: 1px solid rgb(91, 91, 91);
	flex: 1 1 0;
	text-align: center;
	line-height: 4.5vh;
	color: rgb(255, 255, 255);
	transition: 0.5s;
}
.imgSubBox li:hover
{
	border: 1px solid rgb(20, 20, 20);
	background: rgba(50, 50, 50, 0.5);
	color: rgb(255, 255, 255);
}
.imgSubBox #unlike
{
	display: none;
}

/*---------#---------#---------#---------#---------#---------*/

.pagination
{
	display: flex;
	margin-top: 1vh;
	justify-content: center;
}

.pagination a
{
	border: 1px solid rgb(220, 220, 220);
	border-radius: 10px;
	margin: 5px; padding: 2px;
	margin-left: 5px;
}
