.flexBox
{
	border: 2px solid red;
	/*width: auto; height: 75vh;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

.sticker
{
	width: 30vw; height: auto;
	text-align: center;
	/*border-radius: 4px;*/
	background-color: #ffffff;
}

.img
{
	min-width: auto; min-height: 35vh;
	max-width: 30vw; max-height: 35vh;
	margin: auto;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border: 2px solid rgba(255, 255, 255, 0.5);
}

.imgSubBox
{
	/*border: 2px solid blue;*/
	width: auto; height: 5vh;
	list-style-type: none;
}
.imgSubBox ul
{
	display: flex;
	margin: 0px; padding: 0px;
	height: 100%;
	list-style-type: none;
}
.imgSubBox li
{
	border: 2px solid rgb(133, 11, 111);
	flex: 1 1 0;
}

/*---------#---------#---------#---------#---------#---------*/

.pagination
{
	display: flex;
	justify-content: center;
}

.pagination a
{
	border: 1px solid rgb(220, 220, 220);
	border-radius: 10px;
	margin: 5px; padding: 2px;
	margin-left: 5px;
}
