.centralView {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form {
	width: 35%;
	max-width: 300px;
}


.errLoginMsg p
{
	margin: 0;
	padding: 0;
	block-size: 2em;
	color: red;
	text-align: center;
	padding-top: 1em;
}

.modal {
	display: none;
}