.centralView {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form {
	width: 35%;
}


.errLoginMsg p
{
	margin: 0;
	padding: 0;
	block-size: 2em;
	color: red;
	text-align: center;
	padding-top: 1em;
}

/*---------#---------#---------#---------#---------#---------*/

.modal-pwdRecovery
{
	/*border: 2px solid red;*/

	display: none;
	margin: 0px; padding: 0px;
	width: 99.38vw; height: 50vh;
	z-index: 1;
	position: fixed;
	top: 6.5vh;
	/*background: rgb(245, 245, 245);*/
	background: rgba(0, 0, 0, 0.9);
}
.modal-pwdRecovery form
{
	margin: auto; padding: 0px;
	margin-top: 0px;
	height: 35vh;
	color: rgb(255, 255, 255);
	line-height: 15vh;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.modal-pwdRecovery label
{
	margin: 0px; padding: 0px;
	/*height: 2vh;*/
}
.modal-pwdRecovery input
{
	margin: 0px; padding: 0px;
	width: 15vw; height: auto;
	align-self: center;
}
.modal-pwdRecovery button
{
	margin: 0px; padding: 0px;
	margin-top: 4vh;
	width: 10vw; height: 2vh;
	align-self: center;
}
