.topMenu ul
{
	margin: 0px; padding: 0px;
	list-style-type: none;
	height: 6vh;
	background-color: rgb(50, 50, 50);
}

.topMenu li a
{
	margin: 0px; padding: 0px;
	color: rgb(220, 220, 220);
	padding-right: 3.5vw; padding-left: 3.5vw;
	padding-top: 2vh; padding-bottom: 2vh;
	transition: 0.5s;
}
.topMenu li a:hover
{
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

.menuLeft
{
	float: left;
	text-align: center;
	line-height: 6.1vh;
}

.menuRight
{
	float: right;
	text-align: center;
	line-height: 6.1vh;
}
