	.centralView {
		flex-direction: column;
		justify-content: space-between;
	}
	
	#firstColumn {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#displayContainer{
		display: flex;
		flex-direction: column;
		width: 50%;
	}
	#calqueLayer {
		position: absolute;
		top: 6vh;
		z-index: 1;
	}
	#videoLayer video {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	#photoLayer {
		position: absolute;
		top: 6vh;
		z-index: -1;
	}
	#buttonContainer {
		width: 50%;
    display: flex;
    flex-direction: row;
		justify-content: space-evenly;
		margin-top: 10px;
	}
	
	#secondColumn {
		display: flex;
	}

	#galerieContainer {
		display: flex;
		flex-direction: row;
		overflow: scroll;
		max-height: 40vh;
	}
	.imgMiniContainer {
    display: flex;
    flex-direction: column;
    max-height: 95%;
    align-items: center;
	}
	.imgMiniContainer img {
		max-height: 90%;
	}
	/* FORM */
	.hiddenForm {
		display: none;
	}


	@media screen and (max-width: 1000px) {
		.centralView {
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
		}
	
		#firstColumn {
			/* width: 50%; */
			display: flex;
			flex-direction: column;
		}
	

	
		/* ---------- ---------- ---------- ---------- ---------- */
	
		#displayContainer {
			display: flex;
			width: 100%;
		}

		#videoLayer {
			min-width: 100%;
		}
		#videoLayer video {
		width: 100%;
			margin: 0;
			padding: 0;
		}
	
		#buttonContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			padding-top: 5px;

		}
	
		/* ---------- ---------- ---------- ---------- ---------- */
	
		#secondColumn {
			display: flex;
		}

		#galerieContainer {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
			justify-content: space-evenly;
		}
		.imgMiniContainer {
			display: flex;
			flex-direction: column;
			width: 40%;
		}
		#galerieContainer img {
			width: 100%;
			margin: 0 5 0 5;
		}
	
	}