.centralView {
	border: 2px solid rgb(179, 16, 159);
	display: flex;
}

/* ---------- ---------- ---------- ---------- ---------- */

#displayContainer {
}

#videoLayer {
	position: absolute;
	top: 6vh; /*size of menu bar*/
	left: 0px;
	z-index: 1;
}
#videoLayer video {
	margin: 0;
	padding: 0;
}

#calqueLayer {
	position: absolute;
	top: 6vh; /*size of menu bar*/
	left: 0px;
	z-index: 2;
}

/* ---------- ---------- ---------- ---------- ---------- */
/* FORM */
.hiddenForm {
	display: none;
}